SHOPEE_AFFILIATE_ID=17332610461
SHOPEE_SUB_ID=default
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
FB_PAGE_ACCESS_TOKEN=
FB_VERIFY_TOKEN=shopee_webhook_2026
FB_PAGE_ID=61590774189281
PORT=3000
NODE_ENV=production
ADMIN_SECRET=admin123
